<!--footer container-->
<footer class="footer_container">

    <button class="footer_container_button">
        <div class="footer_container_button_arrow">
            <a class="footer_container_button_arrow_top" href="#">
                <img src="assets/images/ico-arrow.svg" alt="arrow icon">
            </a>
        </div>
    </button>

    <nav class="footer_container_articles">

        <ul class="footer_container_articles_list">

            <li class="footer_container_articles_list_item">
                <a class="footer_container_articles_list_item_text" href="#">Articles</a>
            </li>

            <li class="footer_container_articles_list_item">
                <a class="footer_container_articles_list_item_text" href="#">Books</a>
            </li>
            <li class="footer_container_articles_list_item">
                <a class="footer_container_articles_list_item_text" href="#">Events</a>
            </li>
            <li class="footer_container_articles_list_item">
                <a class="footer_container_articles_list_item_text" href="#">Reasons</a>
            </li>
            <li class="footer_container_articles_list_item">
                <a class="footer_container_articles_list_item_text" href="#">Tips</a>
            </li>

        </ul>
    </nav>

    <div class="footer_container_social">

        <ul class="footer_container_social_networks">

            <li class="footer_container_social_networks_item">
                <a class="footer_container_social_networks_item_text" href="https://twitter.com"
                    target="blank">Twitter</a>
            </li>
            <li class="footer_container_social_networks_item">
                <a class="footer_container_social_networks_item_text" href="https://www.instagram.com/"
                    target="blank">Instagram</a>
            </li>
            <li class="footer_container_social_networks_item">
                <a class="footer_container_social_networks_item_text" href="https://mastodon.social/about"
                    target="blank">Mastodon.social</a>
            </li>

        </ul>
    </div>

    <div class="footer_container_copy">
        <p class="footer_container_copy_p">©2019</p>
        <p class="footer_container_copy_p">we <span class="footer_container_copy_p_heart"> ❤ </span>components
        </p>
    </div>

</footer>