<!--header-->

<header class="header_container">
    <nav class="header_nav">
        <button class="menu_button">
            <div class="div_container">
                <img class="menu" src="assets/images/ico-menu.svg" alt="Menu Button">
            </div>
        </button>
    </nav>

    <section id="hero" class="hero_container">
        <h1 class="hero_title">Anonymous Proxy</h1>
        <p class="text_hero_p">In hac habitasse platea dictumst.</p>
        <a href="index.html#section_insomnia_tips" class="hero_button">
            <div class="hero_button_scroll_down">
                <img class="scroll-arrow" src="assets/images/ico-scroll-down.svg" alt="img_button">
            </div>
        </a>
    </section>
</header>