<!--header-->

<!--comienzo contenedor de header-->
<header class="header_container">

    <!--sección nav del botón de hamburguesa-->
    <nav class="header_nav">
        <!--botón hamburguesa-->
        <button class="menu_button">
            <div class="menu_button_icon">
                <img class="menu_button_icon_img" src="assets/images/ico-menu.svg" alt="Menu Button">
            </div>
        </button>
    </nav>

    <!--hero-->
    <section id="hero" class="hero_container">
        <h1 class="hero_container_title">anonymous proxy</h1>
        <p class="hero_container_p">In hac habitasse platea dictumst.</p>
        <!--botón de scroll para enlazar con la sección de Insomnia Tips-->
        <a href="index.html#section_insomnia_tips" class="hero_container_button">
            <div class="hero_container_button_scroll">
                <img class="hero_container_button_scroll_img" src="assets/images/ico-scroll-down.svg" alt="img_button">
            </div>
        </a>
    </section>
    <!--fin hero-->

</header>
<!--fin contenedor de header-->