.btn {
  display: inline-block;
  text-align: center;
  background-color: $colorOrange;
  border: none;
  border-radius: 22.5px;
  text-decoration: none;
}

.btn__border {
  background-color: $colorWhite;
  border: 2px solid $colorOrange;
}
