/* botón de hamburguesa */
.menu_button {
  background-color: $colorBlue;
  width: 44px;
  height: 44px;
  position: fixed;
  border: none;

  /* tamaño icono hamburguesa */

  &_icon_img {
    width: 16px;
    height: 14px;
  }
}

/* hero */

.hero_container {
  background: url("../images/cover.jpg") center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  /* hero-tablet: 768 */
  @media all and (min-width: 768) {
    max-width: 768px;
  }
  /* hero-desktop: 1280 */
  @media all and (min-width: 1280) {
    max-width: 1280px;
  }

  /*title-Anonymous*/

  &_title {
    text-transform: uppercase;
    margin: 0;
    max-width: 290px;
    line-height: 55px;
    font-size: 42px;
    color: $colorWhite;
    text-align: center;
    font-family: $fontPrimary;

    /* title-tablet: 768 */
    @media all and (min-width: 768px) {
      max-width: 690px;
      font-size: 80px;
      line-height: 106px;
    }
    /* title-desktop: 1280 */
    @media all and (min-width: 1280px) {
      max-width: 730px;
      font-size: 100px;
      line-height: 132px;
    }
  }

  /*descripción de anonymous*/
  &_p {
    margin-top: 10px;
    margin-bottom: 45px;
    color: $colorWhite;
    font-family: $fontSecondary;
    font-size: 16px;

    /* p-table & desktop: 768 & 1280 */
    @media all and (min-width: 768px) {
      margin: 20px 0 30px;
      font-size: 24px;
    }
    @media all and (min-width: 1280px) {
      margin-bottom: 30px;
      font-size: 24px;
    }
  }

  /* botón de scroll para enlazar con la sección siguiente */
  &_button_scroll {
    display: flex;
    background-color: $colorWhite;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 auto 53px;
  }

  &_button_scroll_img {
    width: 20px;
    height: 11.7px;
  }
}
