/* section container */

.section_insomnia_container {
  padding: 30px 15px 45px;

  @media all and (min-width: 768px) {
    padding: 30px 39px 60px;
  }
  @media all and (min-width: 1280px) {
    padding: 60px 275px 60px;
  }

  /* title insomnia */
  &_title {
    font-family: $fontSecondary;
    color: $colorLightblue;
    font-size: 14px;
    text-transform: capitalize;
    margin: 0;
    line-height: 30px;

    @media all and (min-width: 1280px) {
      font-size: 16px;
    }
  }

  /* title Looking */
  &_article_title {
    color: $colorBlack;
    font-size: 24px;
    font-family: $fontPrimary;
    line-height: 30px;
    margin: 0;
    text-transform: capitalize;

    @media all and (min-width: 768px) {
      margin-bottom: 30px;
      font-size: 26px;
      line-height: 45px;
    }
    @media all and (min-width: 1280px) {
      font-size: 32px;
      line-height: 45px;
    }
  }

  /* párrafo */
  &_article_p {
    color: $colorGreybrown;
    font-size: 18px;
    font-family: $fontSecondary;
    line-height: 30px;

    @media all and (min-width: 768px) {
      margin: 0;
      font-size: 20px;
    }
  }
}

/* Go button */
.button_link_insomnia {
  text-decoration: none;

  &_go {
    width: 76px;
    height: 45px;
    margin-top: 30px;
    border-radius: 22.5px;
    color: $colorOrange;
    background-color: $colorWhite;
    border: solid 2px $colorOrange;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $fontSecondary;
    transition: transform ease 1s, background-color ease 1s,
      color ease 1s;
    &:hover {
      transform: rotate(360deg);
      background-color: $colorOrange;
      color: $colorWhite;
    }
  }

  @media all and (min-width: 768px) {
    width: 91px;
    height: 45px;
  }
  @media all and (min-width: 1280px) {
    width: 160px;
    height: 45px;
  }
}
