//Colors

$colorOrange: #f26002;
$colorBlue: #0271bc; 
$colorWhite: #ffffff;
$colorLightblue: #8ccbea;
$colorDarkblue: #304268;
$colorGreybrown: #4a4a4a;
$colorBlack: #000000;
$colorIceblue: #eff9ff;
$colorBlackOp: rgba(0, 0, 0, 0.5);

//Fonts

$font-family-primary: "Roboto Slab", serif;
$font-family-secondary: "Roboto", sans-serif;